extends layout

block main
    #messages.messages
    if page && page.deleted
        .alert.alert-warning= __("page-status-deleted")
    .row
        .col-md-10
            block content

        .col-md-2
            block pagemeta
            //block navigation
            //    mixin renderNavigation(navigation)