extends layout

block main
    div.navbar
      div.navbar-inner
        a(href="#").navbar-brand= __("all-pages")
    ul
        each page in pages
            li
                a(href=page.path)= page.title

