extends layout-page

block content
    h1.title.edit(contenteditable=!page.deleted, data-last-modified=page.lastModified && page.lastModified.getTime())= page.title

    #content.content.editable(contenteditable=!page.deleted)
        != page.content

    if(page.modifiedBy)
        .modified-by
            mixin versionLink(page)
            strong= page.modifiedBy +' '
            a.dropdown-toggle(href="#", data-toggle="dropdown")
                    span.glyphicon.glyphicon-cog.actions
                ul.dropdown-menu.modify
                    if (!page.deleted)
                        li: a#move-page(href="#")= __("move-page")
                    if (page.deleted)
                        li: a#restore-page(href="#")= __("restore-page")
                    else
                        li: a#delete-page(href="#")= __("delete-page")    

block pagemeta
    mixin fileDropper
    //mixin attachments(page.attachments)
    //mixin images(page.images)
